* {
  border: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
}

img {
  width: 100%;
}

nav {
  width: 100%;
  align-items: center;
  position: sticky;
  padding-top: 20px;
  top: 0;
  z-index: 200;
}

.rectangle {
  background-color: #4e4e4e;
  width: 80%;
  height: 1px;
  margin: auto;
  margin-top: 10px;
  z-index: 200;
  position: relative;
}

.footerNav,
.navContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: auto;
  align-items: center;
}

.footerNav ul,
.navContainer ul {
  display: flex;
  justify-content: space-between;
  color: #ffffff;
  align-items: center;
  align-items: center;
  width: 50%;
  margin-right: 60px;
}

.footerNav ul .mylink,
.footerNav ul li,
.navContainer ul .mylink,
.navContainer ul li {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 13px;
  list-style: none;
  text-decoration: none;
  color: #f1f1f1;
  margin-left: 10px;
}

.footerNav ul .mylink:hover,
.footerNav ul li:hover,
.navContainer ul .mylink:hover,
.navContainer ul li:hover {
  color: #d87d4a;
  cursor: pointer;
}

.footerNav .logo-ham,
.navContainer .logo-ham {
  display: flex;
}

.footerNav .logo-ham .hamburger,
.navContainer .logo-ham .hamburger {
  display: none;
}

.footerNav .cartIcon,
.navContainer .cartIcon {
  cursor: pointer;
}

.footerNav {
  padding-top: unset;
  width: 80%;
}

.navContainer {
  width: 80%;
  padding-bottom: 10px;
}

.Header {
  background: #272727;
  padding-bottom: 145px;
  height: 729px;
}

.mainHero {
  width: 100%;
  background-size: cover;
  background-position: center;
  background-size: cover;
  max-width: 100%;
  background-repeat: no-repeat;
}

.heroContainer {
  display: flex;
  width: 80%;
  min-height: 100%;
  margin: auto;
  height: 100%;
  justify-content: space-between;
}

.herowrapper {
  width: 45%;
  min-height: 45.5rem;
  background: url("../assets/home/desktop/image-hero.jpg") repeat-x fixed center;
  background-position: center bottom;
  background-size: cover;
  background-attachment: fixed;
  position: absolute;
  right: 10%;
  top: 0;
  z-index: 1;
}

.heroText {
  display: flex;
  flex-direction: column;
  justify-content: left;
  text-align: left;
  position: relative;
  top: 160px;
}

.heroText .productPara {
  opacity: 0.5;
  text-transform: uppercase;
  letter-spacing: 10px;
  color: #ffffff;
  text-align: left;
  font-size: 1rem;
  margin-bottom: 17px;
}

.heroText h1 {
  font-size: 2.8rem;
  font-weight: 700;
  line-height: 45px;
  letter-spacing: 2px;
  color: #ffffff;
  text-transform: uppercase;
}

.heroText .productDescr {
  font-weight: 500px;
  font-size: .9rem;
  line-height: 25px;
  color: #fafafa;
}

.heroText .secondh {
  margin-top: 24px;
}

.heroText button {
  width: 168px;
  height: 48px;
  margin-top: 48px;
  background-color: #d87d4a;
  color: #ffffff;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 15px;
  cursor: pointer;
}

.heroText button:hover {
  background-color: #fbaf85;
}

.firstSection {
  display: flex;
  width: 80%;
  margin: auto;
  margin-top: 2rem;
  justify-content: space-between;
  align-items: center;
}

.firstSection .shopSection {
  width: 30%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 48px;
}

.firstSection .shopSection .shopImageDiv {
  position: absolute;
  top: 0%;
  bottom: 32.66%;
  z-index: 100;
  width: 80%;
  margin: auto;
}

.firstSection .shopSection .shopTextDiv {
  background-color: #f1f1f1;
  position: relative;
  top: 6rem;
  text-align: center;
  color: #633d3d;
  padding-top: 5rem;
  padding-bottom: 30px;
  width: 100%;
}

.firstSection .shopSection .shopTextDiv .shoptitle {
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 10px;
  display: inline-block;
  padding-top: 40px;
}

.firstSection .shopSection .shopTextDiv .shopText {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.firstSection .shopSection .shopTextDiv span {
  color: #d87d4a;
  cursor: pointer;
  margin-left: 3px;
  font-weight: 700;
  font-size: 22px;
}

.secondSection .imagetab {
  display: none;
}

.secondSection .imagedesktop {
  display: block;
  width: 410px;
  height: 473px;
  position: relative;
  top: 45px;
  right: 60px;
  overflow: hidden;
}

.secondSection .secondTextDiv {
  width: 349px;
  height: 303px;
}

.secondSection .secondTextDiv .sdMainText {
  font-size: 56px;
  color: #fafafa;
}

.secondSection .secondTextDiv .sdproductDescr {
  font-size: 15px;
  color: #f1f1f1;
  margin-top: 10px;
}

.secondSection .secondTextDiv button {
  width: 160px;
  height: 48px;
  background-color: #272727;
  color: white;
  margin-top: 20px;
  border-radius: 5px;
  text-transform: uppercase;
  cursor: pointer;
}

.zspeakermain {
  width: 80%;
  margin: 48px auto;
  background-size: cover;
  background-position: center;
  background-image: url("../assets/home/desktop/image-speaker-zx7.jpg");
  height: 320px;
}

.zspeakermain .zspeakerDiv {
  width: 204px;
  height: 118px;
  left: 2em;
  position: relative;
  left: 100px;
  top: 100px;
}

.zspeakermain .zspeakerDiv .zspeakertitle {
  font-size: 28px;
  font-weight: 700;
}

.zspeakermain .zspeakerDiv button {
  width: 160px;
  height: 48px;
  margin-top: 10px;
  border: 1px solid #272727;
  cursor: pointer;
}

.earphonesDiv {
  display: flex;
  width: 80%;
  margin: auto;
  margin: auto auto 48px auto;
  justify-content: space-between;
}

.earphonesDiv .earphoneImageDiv {
  width: 49%;
  height: 100%;
  background-color: bisque;
}

.earphonesDiv .earphoneImageDiv img {
  display: block;
}

.earphonesDiv .earphonestab {
  display: none;
}

.earphonesDiv .earphoneTextDiv {
  background-color: #f1f1f1;
  width: 49%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.earphonesDiv .earphoneTextDiv .earphoneText {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-left: 3em;
}

.earphonesDiv .earphoneTextDiv .earphoneText p {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 2rem;
}

.earphonesDiv .earphoneTextDiv .earphoneText button {
  padding: 0.9em;
  border: 1px solid #272727;
  color: #272727;
  margin-top: 0.9rem;
  display: inline-block;
  width: 40%;
  text-transform: uppercase;
}

.Gear {
  display: flex;
  width: 80%;
  margin: auto;
  margin-bottom: 48px;
  flex-direction: row;
}

.Gear .GearTextDiv {
  width: 50%;
  display: flex;
  justify-content: left;
  align-items: center;
}

.Gear .GearTextDiv .ggtext {
  position: relative;
  width: 80%;
}

.Gear .GearTextDiv .ggtext .gearmaintitle {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 2.5rem;
}

.Gear .GearTextDiv .ggtext .gearmaintitle span {
  color: #d87d4a;
}

.Gear .GearTextDiv .ggtext .gmaintext {
  font-size: 0.9rem;
  margin-top: 20px;
  line-height: 24px;
}

.Gear .gearImageDiv {
  width: 50%;
  height: 100%;
}

.Gear .gearImageDiv img {
  display: block;
}

.Gear .tabgear {
  display: none;
}

.Gear .mobilegear {
  display: none;
}

.footer {
  background-color: #000000;
  padding: 106px 0px 50px 0px;
}

.footer .footerSecondDiv {
  display: flex;
  width: 80%;
  margin: auto;
  justify-content: space-between;
}

.footer .footerSecondDiv .footerSecondText {
  width: 50%;
  line-height: 24px;
  font-size: 15px;
  margin-top: 40px;
  color: #f1f1f1;
  font-weight: 500;
}

.copyIcon {
  display: flex;
  width: 80%;
  margin: auto;
  justify-content: space-between;
  margin-top: 10px;
  align-items: flex-start;
}

.icons {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 10%;
}

.icons .iconDiv {
  width: 14px;
  position: relative;
  bottom: 0;
  cursor: pointer;
}

.copyRight {
  color: #f1f1f1;
  margin-top: 30px;
}

.copyRight span {
  color: #d87d4a;
}

.HeaderShared {
  background-color: #272727;
  height: 316px;
}

.proptitle {
  color: white;
  text-transform: uppercase;
  font-size: 50px;
}

.headers {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.HeadphoneGear {
  margin-top: 40px !important;
  background-color: aliceblue !important;
}

.HeadphoneSection {
  display: flex;
  width: 80%;
  margin: auto;
  margin-top: 48px;
}

.HeadImageOne {
  width: 50% !important;
}

.HeadImageOne img {
  display: block;
}

.SectionText {
  width: 50%;
}

.sectionOne {
  padding: 10px 70px !important;
}

.sectionTwo {
  padding: 130px 0px 0px 0px !important;
}

.sectionTwo .sectionPara {
  width: 70% !important;
  margin-top: 10px;
  font-size: 13.5px;
  line-height: 20px;
}

.newProductSec {
  margin-top: 100px;
  letter-spacing: 7px;
  color: #d87d4a;
}

.secTopic {
  margin-top: 150px !important;
}

.SectionMainTitle {
  text-transform: uppercase;
  width: 70%;
  font-size: 40px;
  margin-top: 5px;
}

.sectionPara {
  width: 100%;
  margin-top: 10px;
  font-size: 13.5px;
  line-height: 20px;
}

.sectionButton {
  padding: 15px 25px;
  margin-top: 20px;
  background-color: #d87d4a;
  color: #f1f1f1;
  cursor: pointer;
}

.HeadphoneMain .Gear,
.EarphoneMain .Gear,
.SpeakerMain .Gear {
  margin-top: 100px;
}

.productnav {
  background-color: #000000;
  width: 100%;
  height: 97px;
}

.Gobacklink {
  display: block;
  width: 80%;
  margin: 80px auto auto auto;
  text-decoration: none;
  color: #272727;
}

.countCart {
  color: #d87d4a;
  font-weight: 700;
  text-decoration: none;
}

.Bucket {
  position: absolute;
  top: 10rem;
  right: 0;
  z-index: 10000;
  background-color: #f1f1f1;
  width: 377px;
  padding: 20px;
  border-radius: 5px;
}

.layer {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 900;
  background-color: rgba(0, 0, 0, 0.76);
}

.App {
  position: relative;
}

.form-inputss {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 20px auto 40px auto;
  background-color: white;
}

.PersonalDetails {
  width: 70%;
  padding: 20px;
  background-color: #fafafa;
}

.PersonalDetails .nameEmail {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.PersonalDetails .nameEmail .formControl {
  width: 48%;
}

.PersonalDetails .nameEmail .formControl .labelError {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.PersonalDetails .nameEmail .formControl input {
  width: 100%;
  height: 40px;
  display: block;
  border: 1px solid #d87d4a;
  padding: 10px;
}

.PersonalDetails .phoneNumber {
  width: 48%;
  margin-top: 20px;
}

.PersonalDetails .phoneNumber .labelError {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.PersonalDetails .phoneNumber input {
  width: 100%;
  height: 40px;
  display: block;
  border: 1px solid #d87d4a;
  padding: 10px;
}

.PersonalDetails .shippingInfo {
  margin-top: 20px;
}

.PersonalDetails .shippingInfo .address {
  width: 100%;
  margin: 10px 0px;
}

.PersonalDetails .shippingInfo .address .labelError {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.PersonalDetails .shippingInfo .address input {
  width: 100%;
  height: 40px;
  display: block;
  border: 1px solid #d87d4a;
  padding: 10px;
}

.PersonalDetails .shippingInfo .zipCity {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.PersonalDetails .shippingInfo .zipCity .zip {
  width: 48%;
}

.PersonalDetails .shippingInfo .zipCity .city {
  width: 48%;
}

.PersonalDetails .shippingInfo .zipCity .labelError {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.PersonalDetails .shippingInfo .zipCity input {
  width: 100%;
  height: 40px;
  display: block;
  border: 1px solid #d87d4a;
  padding: 10px;
}

.PersonalDetails .shippingInfo .country {
  width: 48%;
  margin-top: 20px;
}

.PersonalDetails .shippingInfo .country .labelError {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.PersonalDetails .shippingInfo .country input {
  width: 100%;
  height: 40px;
  display: block;
  border: 1px solid #d87d4a;
  padding: 10px;
}

.PersonalDetails .paymentDetails {
  margin-top: 20px;
}

.PersonalDetails .paymentDetails .paymentMethodDiv {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.PersonalDetails .paymentDetails .paymentMethodDiv .radioDiv {
  width: 48%;
}

.PersonalDetails .paymentDetails .paymentMethodDiv .radioDiv .radios {
  display: flex;
  height: 40px;
  align-items: center;
  border: 1px solid #d87d4a;
  margin-bottom: 10px;
  padding: 10px;
}

.PersonalDetails .paymentDetails .paymentMethodDiv .radioDiv .radios input {
  background-color: #d87d4a;
}

.PersonalDetails .paymentDetails .paymentMethodDiv .radioDiv .radios label {
  margin-left: 10px;
}

.PersonalDetails .paymentDetails .NumberPinWrapper {
  width: 100%;
}

.PersonalDetails .paymentDetails .EmoneyText {
  width: 100%;
  display: flex;
  margin: 20px;
  padding-right: 20px;
}

.PersonalDetails .paymentDetails .EmoneyText i {
  width: 20%;
  font-size: 60px;
  color: #d87d4a;
}

.PersonalDetails .paymentDetails .EmoneyText p {
  width: 100%;
}

.PersonalDetails .paymentDetails .NumberPin {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 20px;
}

.PersonalDetails .paymentDetails .NumberPin .moneyNumber, .PersonalDetails .paymentDetails .NumberPin .MoneyPin {
  width: 48%;
}

.PersonalDetails .paymentDetails .NumberPin .formControl {
  width: 100%;
}

.PersonalDetails .paymentDetails .NumberPin .formControl .labelError {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.PersonalDetails .paymentDetails .NumberPin .formControl input {
  width: 100%;
  height: 40px;
  display: block;
  border: 1px solid #d87d4a;
  padding: 10px;
}

.summary {
  width: 28%;
  padding: 10px;
}

.summary .summaryWrapper {
  background-color: #fafafa;
}

.summary .SummaryHeader {
  font-weight: 600;
  text-transform: uppercase;
}

.summary .eachItemDiv {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.summary .eachItemImageName {
  display: flex;
}

.summary .priceShipping {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  align-items: center;
}

.summary .boldPrices {
  font-weight: 700;
}

.summary .submitButton {
  width: 100%;
  display: block;
  height: 40px;
  background-color: #d87d4a;
  color: #fafafa;
  outline: none;
  margin-top: 20px;
  cursor: pointer;
}

.summary .summaryImage {
  width: 10%;
  margin-right: 10px;
}

.SuccessMain {
  position: absolute;
  top: 8rem;
  left: 20rem;
  z-index: 1000;
  width: 40%;
  margin: auto;
  background-color: #ffffff;
  padding: 20px;
}

.SuccessMain i {
  color: #d87d4a;
  font-size: 70px;
  margin-bottom: 20px;
}

.SuccessMain h2 {
  font-size: 2rem;
  width: 100%;
  display: block;
}

.SuccessMain .confirmMail {
  margin: 40px 0px;
}

.SuccessMain .grandImg {
  display: flex;
  justify-content: space-between;
}

.SuccessMain img {
  width: 50%;
}

.SuccessMain .imgTitle {
  width: 50%;
  margin-bottom: 20px;
  padding: 20px;
}

.SuccessMain .imgPrice {
  display: flex;
}

.SuccessMain .qtyImg {
  display: flex;
  border-bottom: 1px solid gray;
  padding-bottom: 10px;
}

.SuccessMain .andOthers {
  padding-top: 10px;
  font-size: 13px;
  text-align: center;
}

.SuccessMain .grandTotal {
  background-color: #000000;
  color: white;
  width: 50%;
  padding: 20px;
  padding-top: 40px;
}

.SuccessMain .successTotal {
  margin-top: 15px;
}

.SuccessMain .successTotalTitle {
  color: #acacac;
}

.SuccessMain .successImg {
  width: 30%;
}

.SuccessMain .successLink {
  text-decoration: none;
}

.SuccessMain button {
  display: block;
  width: 100%;
  height: 40px;
  margin-top: 30px;
  background-color: #d87d4a;
  color: white;
}

.menu {
  display: none;
}

@media (max-width: 973px) {
  body .rectangle {
    width: 90%;
  }
  body .heroContainer {
    width: 90%;
  }
}

@media (max-width: 802px) {
  body {
    display: block;
  }
  body .navContainer ul {
    display: none;
  }
  body .navContainer .logo-ham {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  body .navContainer .logo-ham .hamburger {
    display: block;
    margin-right: 50px;
  }
  body .Header {
    background-image: url("../assets/home/tablet/image-header.jpg");
    display: flex;
    justify-content: center;
  }
  .herowrapper {
    width: 379px;
    position: relative;
    height: 346px;
    top: 150px;
  }
  .heroText {
    justify-content: center;
    width: 100%;
    top: 0;
    align-items: center;
  }
  .heroText .productPara {
    width: 100%;
    display: inline-block;
    text-align: center;
  }
  .heroText .heroMainText {
    text-align: center;
    text-transform: uppercase;
  }
  .heroText .productDescr {
    text-align: center;
    width: 80%;
  }
  .firstSection .shopSection {
    width: 32%;
  }
  .firstSection .shopSection .shopImageDiv {
    width: 50%;
    margin-bottom: 0px;
  }
  .firstSection .shopSection .shopTextDiv {
    top: 2rem;
    padding-top: 1rem;
    padding-bottom: 10px;
  }
  .secondSection {
    flex-direction: column;
    margin: 48px auto auto auto;
    padding-top: 50px;
  }
  .secondSection .imagedesktop {
    display: none;
  }
  .secondSection .zxspeaker {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .secondSection .imagetab {
    display: block;
    width: 50%;
  }
  .secondSection .secondTextDiv {
    text-align: center;
    margin: 30px 0px;
  }
  .earphonesDiv .earphoneImageDiv {
    display: none;
  }
  .earphonesDiv .earphonestab {
    display: block;
    width: 49%;
    height: 100%;
    background-color: bisque;
  }
  .earphonesDiv .earphonestab img {
    display: block;
  }
  .earphoneText {
    padding-left: 1em !important;
  }
  .earphoneText p {
    font-size: 1.2rem !important;
  }
  .earphoneText button {
    width: 70% !important;
    padding: 0.4em !important;
  }
  .Gear {
    flex-direction: column;
  }
  .Gear .tabgear {
    display: block;
  }
  .Gear .mobilegear {
    display: none;
  }
  .Gear .gearImageDiv {
    display: none;
  }
  .Gear .GearTextDiv {
    width: 100%;
    text-align: center;
  }
  .Gear .ggtext {
    width: 100%;
    margin: auto;
  }
  .footerNav {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    align-items: center;
    position: unset;
    padding-top: 20px;
    top: 0;
    z-index: 200;
    align-items: flex-start;
  }
  .footerNav .logo-ham {
    justify-content: left;
  }
  .footerNav ul {
    text-align: left;
    justify-content: left;
    padding: 0px;
    margin-top: 2rem;
  }
  .footerNav ul li {
    text-align: left;
    margin-left: unset;
    margin-right: 1rem;
  }
  .icons {
    align-items: center;
  }
  .copyRight {
    margin-top: unset;
  }
  .menu {
    display: block;
    position: absolute;
    background: #ffffff;
    top: 60px;
    left: 0;
    width: 100%;
  }
}

@media (max-width: 490px) {
  nav .logo-ham .hamburger {
    display: block;
    margin-right: 10000px;
  }
  .Header {
    background-image: url("../assets/home/mobile/image-header.jpg") !important;
    background-size: cover;
  }
  .herowrapper {
    width: 80%;
    position: relative;
    height: 346px;
    top: 180px;
  }
  h1 {
    font-size: 36px !important;
  }
  .productPara {
    font-size: 14px;
  }
  .firstSection {
    flex-direction: column;
  }
  .shopSection {
    width: 100% !important;
  }
  .shopImageDiv {
    top: -5% !important;
  }
  .secondSection {
    width: 80%;
  }
  .imagedesktop {
    width: 40% !important;
    background-color: violet !important;
  }
  .secondTextDiv {
    width: 80% !important;
    height: unset !important;
  }
  .sdMainText {
    font-size: 36px !important;
  }
  .sdproductDescr {
    font-size: 10px !important;
    width: 100%;
    display: inline-block;
  }
  .zspeakermain {
    height: unset !important;
    background-image: url("../assets/home/mobile/image-speaker-zx7.jpg");
    margin: 48px auto 48px auto !important;
    padding: 50px 10px;
  }
  .zspeakerDiv {
    width: 204px !important;
    height: 118px !important;
    position: unset !important;
  }
  .zspeakerDiv .zspeakertitle {
    font-size: 28px !important;
  }
  .earphonesDiv {
    flex-direction: column;
  }
  .earphonesDiv .earphonestab {
    width: 100%;
  }
  .earphonesDiv .earphoneTextDiv {
    width: 100%;
    padding: 50px 10px;
    margin-top: 20px;
  }
  .Gear {
    margin-bottom: 48px;
  }
  .tabgear {
    display: none !important;
  }
  .gearImageDiv {
    display: none !important;
  }
  .mobilegear {
    display: block !important;
  }
  .GearTextDiv {
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
  }
  .GearTextDiv .ggtext {
    position: relative;
    width: 80%;
  }
  .GearTextDiv .ggtext .gearmaintitle {
    font-size: 1.1rem !important;
  }
  .GearTextDiv .ggtext .gmaintext {
    font-size: 10px !important;
    margin-top: 20px;
    line-height: 24px;
    width: 100%;
  }
  .footer {
    text-align: center;
    padding: 30px 0px 30px 0px !important;
  }
  .footerNav {
    width: 100% !important;
    align-items: center;
  }
  .footerNav ul {
    flex-direction: column;
  }
  .footerNav ul li {
    margin-top: 10px;
  }
  .footerSecondDiv {
    width: 100% !important;
    align-items: center;
    justify-content: center;
  }
  .footerSecondDiv .footerSecondText {
    width: 90% !important;
    margin: auto;
  }
  .copyIcon {
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin-top: 20px;
  }
  .icons {
    align-items: center;
    justify-content: space-between !important;
    width: 30% !important;
    margin-top: 10px;
  }
}
