//Colors Variables

$orange: #d87d4a;
$orange-light:#fbaf85;
$black:#272727;
$very-black:#000000;
$gray:#f1f1f1;
$light-gray:#fafafa;
$very-light-gray:#ffffff;
$rectangle:rgb(78, 78, 78);


//Typography

$font-family: 'Manrope', sans-serif;



*{
    border: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: $font-family;
    
}

img{
    width: 100%;
}

html {
    min-height: 100%;
}

body i {
    font-family:'FontAwesome'!important;
    }
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    
    /* Firefox */
    input[type=number] {
      -moz-appearance: textfield;
    }