@media (max-width: 973px){
  body{

    .rectangle{
      width: 90%;
    }

    .heroContainer{
      width: 90%;
    }
  }

}


@media (max-width: 802px) {
  body {

    .Bucket{
      width: 60%;
      left: 40%;
      top: .7%;
    }

    .secondlayer{
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      top:65px;
      left: 0;
      z-index: 900;
      background-color: rgba(0, 0, 0, 0.76);
    }

    .herowrapper{
      display: none;
    }
    .navContainer {
      ul {
        display: none;
      }

      .logo-ham {
        display: flex;
        justify-content: center;
        align-items: center;

        .hamburger {
          display: block;
          margin-right: 50px;
          width: 20px;
        }
      }
    }

    .Header {
      background-image: url("../assets/home/tablet/image-header.jpg");
      display: flex;
      justify-content: center;
      background-position: center;
      background-size:cover;
      background-attachment:fixed;
      height: 800px;
    }
  }

  .herowrapper {
    height: 346px;
    top: 150px;
  }

  .menu{
    position: relative;
    top: 70px !important ;
  }

  .heroText {
    justify-content: center;
    width: 100%;
    top: 20px;
    align-items: center;

    .productPara {
      width: 100%;
      display: inline-block;
      text-align: center;
    }

    .heroMainText {
      text-align: center;
      text-transform: uppercase;
    }

    .productDescr {
      text-align: center;
      width: 80%;
    }
  }

  //First Div

  .firstSection {
    margin-top: 1rem;
    .shopSection {


      .imageheadphones{

        top: 11px;
      }
  
      .imagespeakers{

        top: 12px;
      }
  
      .imageearphones{
        top: 16px;
      }
  


      .shopImageDiv {
        width: 90px;;
        margin-bottom: 0px;
      }

      .shopTextDiv {
        top: 2rem;

        padding-top: 1rem;
        padding-bottom: 10px;
      }
    }
  }

  //Second section

  .secondSection {
    flex-direction: column;
    margin-top: 28px !important;
    padding-top: 50px;


    .imagedesktop {
      display: none;
    }
    .zxspeaker {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .imagetab {
      display: block;
      width: 50%;
    }

    .secondTextDiv {
      text-align: center;
      margin: 30px 0px;
    }
  }

  //Third Section

  .earphonesDiv {
    .earphoneImageDiv {
      display: none;
    }

    .earphonestab {
      display: block;
      width: 49%;
      height: 100%;
      background-color: bisque;

      img {
        display: block;
      }
    }
  }

  .earphoneText {
    padding-left: 1em !important;

    p {
      font-size: 1.2rem !important;
    }
    button {
      width: 70% !important;
      padding: 0.4em !important;
    }
  }

  .Gear {
    flex-direction: column;
    .tabgear {
      display: block;
    }
    .mobilegear {
      display: none;
    }

    .gearImageDiv {
      display: none;
    }

    .GearTextDiv {
      width: 100%;
      text-align: center;
    }

    .ggtext {
      width: 100%;
      margin: auto;
    }
  }

  //Footer

  .footerNav {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    align-items: center;
    position: unset;
    padding-top: 20px;
    top: 0;
    z-index: 200;
    align-items: flex-start;

    .logo-ham {
      justify-content: left;
    }

    ul {
      text-align: left;
      justify-content: left;
      padding: 0px;
      margin-top: 2rem;

      li {
        text-align: left;
        margin-left: unset;
        margin-right: 1rem;
      }
    }
  }

  .icons {
    align-items: center;
  }

  .copyRight {
    margin-top: unset;
  }

  .menu{
    display: block;
    position: absolute;
    background: $very-light-gray;
    top: 60px;
    left: 0;
    width: 100%;

  }
}

//MOBILE

@media (max-width: 490px) {
  .Bucket{
    width: 90% !important;
    left: 20% !important;
    margin-left: -63px !important;
  }
  nav {
    .logo-ham {
      .hamburger {
        display: block;
        margin-right: 10000px;
      }
    }
  }

  .Header {
    background-image: url("../assets/home/mobile/image-header.jpg") !important;
    background-size: cover;
  }

  .herowrapper {
    width: 80%;
    position: relative;
    height: 346px;
    top: 180px;
  }

  h1 {
    font-size: 36px !important;
  }

  .productPara {
    font-size: 14px;
  }

  //FIRST SECTION

  .firstSection {
    flex-direction: column;
  }

  .shopSection {
    width: 100% !important;

    .imageheadphones{

      top: 15px !important;
    }

    .imagespeakers{

      top: 15px !important;
    }

    .imageearphones{
      top: 20px !important;
    }
  }

  .shopImageDiv {
    top: -5% !important;
  }

  //Second div

  .secondSection {
    width: 80%;


  }

  .imagedesktop {
    width: 40% !important;
    background-color: violet !important;
  }

  .secondTextDiv {
    width: 80% !important;
    height: unset !important;
  }

  .sdMainText {
    font-size: 36px !important;
  }

  .sdproductDescr {
    font-size: 10px !important;
    width: 100%;
    display: inline-block;
  }

  //Third Div

  .zspeakermain {
    height: unset !important;
    background-image: url("../assets/home/mobile/image-speaker-zx7.jpg");
    margin: 48px auto 48px auto !important;
    padding: 50px 10px;
  }

  .zspeakerDiv {
    width: 204px !important;
    height: 118px !important;
    position: unset !important;

    .zspeakertitle {
      font-size: 28px !important;
    }
  }

  //earphones section

  .earphonesDiv {
    flex-direction: column;

    .earphonestab {
      width: 100%;
    }

    .earphoneTextDiv {
      width: 100%;
      padding: 50px 10px;
      margin-top: 20px;
    }
  }

  //Gear

  .Gear{
      margin-bottom: 48px;
  }

  .tabgear {
    display: none !important;
  }

  .gearImageDiv {
    display: none !important;
  }
  .mobilegear {
    display: block !important;
  }

  .GearTextDiv {
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;

    .ggtext {
      position: relative;
      width: 80%;
      .gearmaintitle {
        font-size: 1.1rem !important;
      }

      .gmaintext {
        font-size: 10px !important;
        margin-top: 20px;
        line-height: 24px;
        width: 100%;
      }
    }
  }

  //Footer

  .footer{
      text-align: center;
      padding: 30px 0px 30px 0px !important;
  }

  .footerNav {
      width: 100% !important;
      align-items: center;
    ul {
      flex-direction: column;
      li{
          margin-top: 10px;
      }
    }
  }

  .footerSecondDiv{
      width: 100% !important;
      align-items: center;
      justify-content: center;

      .footerSecondText{
          width: 90% !important;
          margin: auto;

      }

  }

  .copyIcon {
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin-top: 20px;
    
  }

  .icons{
      align-items: center;
      justify-content: space-between !important;
      width: 30% !important;
      margin-top: 10px;
  }
}
