@media (max-width: 973px){
  body{

    .rectangle{
      width: 90%;
    }

    .heroContainer{
      width: 90%;
    }

    .SectionMainTitle {

      font-size: 1.7rem;
      // margin-top: 5px;
    }

    .gearmaintitle {

      font-size: 1.5rem !important;
      
      span {
        color: $orange;
      }
    }
  }

}


@media (max-width: 802px) {
  body {

    .Bucket{
      width: 60%;
      left: 40%;
      top: .7%;
    }

    .secondlayer{
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      top:65px;
      left: 0;
      z-index: 900;
      background-color: rgba(0, 0, 0, 0.76);
    }

    .herowrapper{
      display: none;
    }
    .navContainer {
      ul {
        display: none;
      }

      .logo-ham {
        display: flex;
        justify-content: center;
        align-items: center;

        .hamburger {
          display: block;
          margin-right: 50px;
          width: 20px;
        }
      }
    }

    .Header {
      background-image: url("../assets/home/tablet/image-header.jpg");
      display: flex;
      justify-content: center;
      background-position: center;
      background-size:cover;
      background-attachment:fixed;
      height: 800px;
    }
  }

  .herowrapper {
    height: 346px;
    top: 150px;
  }

  .menu{
    position: relative;
    top: 70px !important ;
  }

  .heroText {
    justify-content: center;
    width: 100%;
    top: 20px;
    align-items: center;

    .productPara {
      width: 100%;
      display: inline-block;
      text-align: center;
    }

    .heroMainText {
      text-align: center;
      text-transform: uppercase;
    }

    .productDescr {
      text-align: center;
      width: 80%;
    }
  }

  //First Div

  .firstSection {
    margin-top: 1rem;
    .shopSection {


      .imageheadphones{

        top: 11px;
      }

      .imagespeakers{

        top: 12px;
      }

      .imageearphones{
        top: 16px;
      }



      .shopImageDiv {
        width: 90px;;
        margin-bottom: 0px;
      }

      .shopTextDiv {
        top: 2rem;

        padding-top: 1rem;
        padding-bottom: 10px;
      }
    }
  }

  //Second section

  .secondSection {
    flex-direction: column;
    margin-top: 28px !important;
    padding-top: 50px;


    .imagedesktop {
      display: none;
    }
    .zxspeaker {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .imagetab {
      display: block;
      width: 50%;
    }

    .secondTextDiv {
      text-align: center;
      margin: 30px 0px;
    }
  }

  .zspeakermain{
    margin: 28px auto 28px auto !important;
  }
  //Third Section

  .earphonesDiv {
    margin-bottom: 28px;


    .earphonestab {
      display: block;
      width: 100% !important;
      background-color: bisque !important;

      img {
        display: block;
      }
    }
  }

  .earphoneText {
    padding-left: 1em !important;

    p {
      font-size: 1.7rem !important;
    }
    button {
      padding: 0.4em !important;
    }
  }

  .Gear {
    flex-direction: column;
    margin-top: 10px !important;
    
    .tabgear {
      display: block;
    }
    .mobilegear {
      display: none;
    }

    .gearImageDiv {
      display: none;
    }

    .GearTextDiv {
      width: 100%;
      text-align: center;
    }

    .ggtext {
      width: 100%;
      margin: auto;
    }
  }

  //Footer

  .footerNav {
    flex-direction: column;
    text-align: left;
    align-items: unset;
    justify-content: left;

    .logo-ham {
      justify-content: left;
      width: 140px;
    }

    ul {
      text-align: left;
      justify-content: left;
      padding: 0px !important;
      margin-top: 20px !important;
      margin-right: unset !important;
      width: 100%;

      .mylink{
        margin-left: 0px;
        margin-right: 10px;
      }
    }
  }

  .footerSecondDiv{
    margin-bottom: 24px !important;

    .footerSecondText{
      width: 100% !important;
      font-size: 12px !important;
    }
  }



  .icons {
    align-items: center;
    width: 20%;
    right: unset !important;
  }

  .copyRight {
    margin-top: unset;
    font-size: 14px !important;
  }

  .menu{
    display: block;
    position: absolute;
    background: $very-light-gray;
    top: 60px;
    left: 0;
    width: 100%;

  }

  //HEADPHONE SECTION

  .HeadphoneSection{
    flex-direction: column;
    align-items: center !important;
    text-align: center;

    .HeadImageOne {
      width: 100% ;
      img {
        display: block;
      }

      .desktop,.mobile{
        display: none;
      }
    }

    .newProductSec{
      margin-top: 12px;
    }

    .SectionText {
      width: 100%;
    
    }

    .sectionOne,.sectionTwo{
      align-items: center;
    }

    .sectionPara{
      font-size: 16px !important;
    }

    .SectionMainTitle{
      font-size: 1.3rem !important;
    }

    .sectionButton {

      width: 140px !important;
      margin-bottom: 20px;
    }

    .sectionTwo{
      order: 1;
    }

    
  }


  //Headphone product detail

  .productSection{
    flex-direction: row !important;

    align-items: center !important;
    margin-bottom: 24px;

    .HeadImageOne {
      width: 50% !important;
      img {
        display: block;
      }

      .desktop,.mobile{
        display: none;
      }
    }

    .newProductSec{
      margin-top: 0px !important;
      font-size: 10px;
      text-align: left;
      width: 100%;
    }

    .SectionText {
      width: 50%;
      text-align: left;
    
    }

    .sectionOne,.sectionTwo{
      align-items: center;
    }

    .sectionPara{
      font-size: 10px !important;
      line-height: unset;
    }

    .SectionMainTitle{
      font-size: 1rem !important;
      width: 100%;
      margin: 10px 0px !important;
    }

    .sectionButton {

      width: 140px !important;
      margin-bottom: unset !important;
    }

    .buttonAddandRemove{
      width: 100%;
    }

    .price{
      width: 100%;
      text-align: left;
    }

    .onAddbutton{
      width: 45%;
      padding: 5px !important;
      font-size: 10px !important;
      
    }
    
    .addandremove{
      width: 45%;
      padding: 5px !important;
      font-size: 10px !important;
    }
    

    // .sectionTwo{
    //   order: 1;
    // }
  }
}









@media (max-width:650px) {
  .earphoneText {

    p {
      font-size: 1.3rem !important;
    }

    button{
      width: 120px !important;
    }
  }

}

//MOBILE

@media (max-width: 490px) {

  .Bucket{
    width: 90% !important;
    left: 20% !important;
    margin-left: -63px !important;
  }
  nav {
    .logo-ham {
      .hamburger {
        display: block;
        margin-right: 10000px;
      }
    }
  }

  .Header {
    background-image: url("../assets/home/mobile/image-header.jpg") !important;
    background-size: cover;
  }

  .herowrapper {
    width: 80%;
    position: relative;
    height: 346px;
    top: 180px;
  }

  h1 {
    font-size: 36px !important;
  }

  .productPara {
    font-size: 14px;
  }

  //FIRST SECTION

  .firstSection {
    flex-direction: column;
  }

  .shopSection {
    width: 100% !important;

    .imageheadphones{

      top: 15px !important;
    }

    .imagespeakers{

      top: 15px !important;
    }

    .imageearphones{
      top: 20px !important;
    }
  }

  .shopImageDiv {
    top: -5% !important;
  }

  //Second div

  .secondSection {
    width: 80%;


  }

  .imagedesktop {
    width: 40% !important;
    background-color: violet !important;
  }

  .secondTextDiv {
    width: 80% !important;
    height: unset !important;
  }

  .sdMainText {
    font-size: 36px !important;
  }

  .sdproductDescr {
    font-size: 10px !important;
    width: 100%;
    display: inline-block;
  }

  //Third Div

  .zspeakermain {
    height: unset !important;
    background-image: url("../assets/home/mobile/image-speaker-zx7.jpg");
    margin: 28px auto 0px auto !important;
    padding: 50px 10px;
  }

  .zspeakerDiv {
    width: 204px !important;
    height: 118px !important;
    position: unset !important;

    .zspeakertitle {
      font-size: 28px !important;
    }
  }

  //earphones section

  .earphonesDiv {
    flex-direction: column;

    .earphoneImageDiv {
      display: none;
    }


    .earphonestab {
      width: 100%;
    }

    .earphoneTextDiv {
      width: 100%;
      padding: 1rem;
      margin-top: 1rem;

      .earphoneText {
        position: relative;
        width: 100%;
        display: flex;
        flex-direction: column;
        padding-left: 3em;

        p {
          font-size: 1.5rem !important;
        }

        button {
          padding: 0.9em;
          border: 1px solid $black;
          color: $black;
          margin-top: 0.9rem;
          display: inline-block;
          width: 160px !important;
          height: 40px !important;
          text-transform: uppercase;
        }

      }



    }
  }

  //Gear

  .Gear{
      margin-bottom: 48px;
  }

  .tabgear {
    display: none !important;
  }

  .gearImageDiv {
    display: none !important;
  }
  .mobilegear {
    display: block !important;
  }

  .GearTextDiv {
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;

    .ggtext {
      position: relative;
      width: 80%;
      .gearmaintitle {
        font-size: 1.1rem !important;
      }

      .gmaintext {
        font-size: 10px !important;
        margin-top: 20px;
        line-height: 24px;
        width: 100%;
      }
    }
  }

  //Footer

  .footer{
      text-align: center;
      padding: 30px 0px 30px 0px !important;
  }

  .footerNav {
      width: 100% !important;
      align-items: center;
    ul {
      flex-direction: column;
      .mylink{
          margin-top: 10px;
      }
    }
  }

  .footerSecondDiv{
      width: 100% !important;
      align-items: center;
      justify-content: center;

      .footerSecondText{
          width: 90% !important;
          margin: auto;

      }

  }

  .copyIcon {
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin-top: 20px;

  }

  .icons{
      align-items: center;
      justify-content: space-between !important;
      width: 30% !important;
      margin-top: 10px;
  }

  //HEADPHONE SECTION

  .HeadImageOne {

    .desktop,.tablet{
      display: none !important;
    }
    .mobile{
      display: block !important;
    }
  }

  //PRODUCT DETAILS SECTION HEADPHONE

  .productSection{
    flex-direction: column !important;

    .HeadImageOne {
      width: 100% !important;
    }

    .SectionText{
      width: 100% !important;
    }
    .SectionMainTitle{
      font-size: 1.7rem !important;
    }

    .sectionPara{
      font-size: 16px !important;
      
    }

    .onAddbutton{
      width: 35% !important;
      padding: 7px !important;
      
    }
    
    .addandremove{
      width: 25% !important;
      padding: 7px !important;
      margin-right: 10px;
    }

    .buttonAddandRemove{

      justify-content: unset !important;

    }

    .newProductSec{
      margin-top: 10px !important;
    }
    

  }
}
