@import 'config';
@import 'utilities';




nav, .footerNav{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    align-items: center;
    position: sticky;
    padding-top: 20px;
    top: 0;
    z-index: 200;
    ul{
        display: flex;
        width: 429px;
        justify-content: space-between;
        color: $very-light-gray;
        align-items: center;

        li{
            text-transform: uppercase;
            font-weight: 700px;
            font-size: 13px;
            list-style: none;
            &:hover{
                color: $orange;
                cursor: pointer;
            }
        }



    }

    .logo-ham{
        display: flex;
        width: 143px;
        height: 25px;

        .hamburger{
            display: none;
        }
    }

    .cartIcon{
        cursor: pointer;
    }
}

.footerNav{
    padding-top: unset;
}



.Header{
    background-position: center;
    background-size:cover;
    max-width:100%;
    background-color: $very-black;
    height: 698px;
    background-repeat: no-repeat;
}

.mainHero{
    width: 100%;
    background-size: cover;
    
}


.herowrapper{
    width: 80%;
    margin: auto;

}

.heroText{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: left;
    text-align: left;
    position: relative;
    top: 170px;
    .productPara{
        opacity: 0.5;
        text-transform: uppercase;
        letter-spacing: 10px;
        color: $very-light-gray;
        text-align: left;

    }

    h1{
        font-size: 50px;
        font-weight: 700;
        line-height: 58px;
        letter-spacing: 2px;
        width: 396px;
        height: 116px;
        color:$very-light-gray;
        margin-top: 24px;
        
    }

    .productDescr{
        font-weight: 500px;
        font-size: 15px;
        line-height: 25px;
        margin-top: 24px;
        color: $light-gray;
    }

    button{
        width: 160px;
        height: 48px;
        margin-top: 24px;
        background-color: $orange;
        color: $very-light-gray;
        cursor: pointer;
        text-transform: uppercase;
        font-size: 15px;
    }
}



//BODY

.firstSection{
    display: flex;
    width: 80%;
    margin: auto;
    margin-top: 2rem;
    justify-content: space-between;
    align-items: center;
    

    .shopSection{
        color: $orange;
        width: 30%;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .shopImageDiv{
            position: absolute;
            right: 27.39%;
            top: 0%;
            bottom: 32.66%;
            z-index: 100;
            width: 160px;
        }

        .shopTextDiv{
            background-color: whitesmoke;
            position: relative;
            top:3rem;
            text-align: center;
            color: rgb(99, 61, 61);
            padding-top: 5rem;
            padding-bottom: 30px;

            .shoptitle{
                font-weight: 700;
                text-transform: uppercase;
                margin-bottom: 10px;

                
            }

            .shopText{
                text-align: center;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            span{
                color: $orange;
                cursor: pointer;
                margin-left: 3px;
                font-weight: 700;
                font-size: 22px;
            }
        }
    }
    
}



//Second Div

.secondSection{
    background-color: $orange !important;
    display: flex;
    justify-content: center;
    align-items:center ;
    width: 80%;
    position: relative;
    margin: 98px auto auto auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;

    .zxspeaker{
        width: 410px;
        height: 473px;
        position: relative;
        top: 45px;
        right: 60px;
        overflow: hidden;
    }


    .secondTextDiv{
        width: 349px;
        height: 303px;

        .sdMainText{
            font-size: 56px;
            color: $light-gray;
        }

        .sdproductDescr {
            font-size: 15px;
            color: $gray;
            margin-top: 10px;
            
        }

        button{
            width: 160px;
            height: 48px;
            background-color: $black;
            color: white;
            margin-top: 20px;
            border-radius: 5px;
            text-transform: uppercase;
            cursor: pointer;
        }
    }
}

//Zspeaker

.zspeakermain{
    width: 80%;
    height: 320px;
    margin: 48px auto;
    background-size: cover;
    background-position: center;

    .zspeakerDiv{
        width: 204px;
        height: 118px;
        left: 260px;
        position: relative;
        left: 100px;
        top: 100px;

        .zspeakertitle{
            font-size: 28px;
            font-weight: 700;
        }
        button{
            width: 160px;
            height: 48px;
            margin-top: 10px;
            border: 1px solid $black;
            cursor: pointer;

        }
    }
}


//Earphones

.earphonesDiv{
    display: flex;
    width: 80%;
    margin: auto;
    margin:  auto auto 48px auto;
    justify-content: space-between;


    .earphoneImageDiv{
        width: 49%;
        height: 100%;
        img{
            display: block;
        }
    }
    

    .earphoneTextDiv{
        width: 49%;
        background-color: $gray;
        padding: 100px 50px 0px 50px;


        .earphoneText{
            width: 100%;
            p{
                font-size: 28px;
                text-transform: uppercase;
                font-weight: 700;
            }

        }

        button{
            text-transform: uppercase;
            width: 9rem;
            height: 3rem;
            margin-top: 20px;
            border: 1px solid $black;
            cursor: pointer;

        }
    }
}


//GEAR DIV


.Gear{
    display: flex;
    width: 80%;
    margin: auto;
    margin-bottom: 48px;

    .GearTextDiv{
        width: 50%;
        display: flex;
        justify-content: left;
        align-items: center;

        .ggtext{
            position: relative;
            width: 90%;
            .gearmaintitle{
                font-size: 2.5rem;
                font-weight: 700;
                text-transform: uppercase;

                span{
                    color: $orange;
                }

            }

            .gmaintext{
                font-size: .9rem;
                margin-top: 20px;
                line-height: 24px;
            }
        }
    }

    .gearImageDiv{
        width: 50%;
    }

}


//Footer


.footer{
    background-color: $very-black;
    padding: 106px 0px 50px 0px;

    .footerSecondDiv{
        display: flex;
        width: 80%;
        margin: auto;
        justify-content: space-between;

        .footerSecondText{
            width: 50%;
            line-height: 24px;
            font-size: 15px;
            margin-top: 40px;
            color: $gray;
            font-weight: 500;
        }
    }
}

.icons{
    display: flex;
    justify-content: space-between;
    align-items:flex-end;
    
    width: 10%;
    

    .iconDiv{
        width: 14px;
        position: relative;
        bottom: 0;
        cursor: pointer;
    }
}

.copyRight{
    color: $gray;
    width: 80%;
    margin: 40px auto auto auto;

    span{
        color: $orange;
    }
    

}