@import 'config';
@import 'utilities';



nav{
    display: flex;
    justify-content: space-between;
    width: 1109.83px;
    height: 28px;
    margin: auto;
    align-items: center;
    position: sticky;
    top: 0;
    overflow: unset;

    ul{
        display: flex;
        width: 429px;
        justify-content: space-between;
        color: $very-light-gray;
        align-items: center;

        li{
            text-transform: uppercase;
            font-weight: 700px;
            font-size: 13px;
            &:hover{
                color: $orange;
                cursor: pointer;
            }
        }



    }

    .logo-ham{
        display: flex;
        width: 143px;
        height: 25px;

        .hamburger{
            display: none;
        }
    }

    .cartIcon{
        cursor: pointer;
    }
}
.sticky {
	position: -webkit-sticky;
	position: sticky;
	top: 0;
}
.heroText{
    position: absolute;
    width: 360px;
    left: 165px;
    top: 225px;

    .productPara{
        opacity: 0.5;
        text-transform: uppercase;
        letter-spacing: 10px;
        color: $very-light-gray;

    }

    h1{
        font-size: 50px;
        font-weight: 700;
        line-height: 58px;
        letter-spacing: 2px;
        width: 396px;
        height: 116px;
        color:$very-light-gray;
        margin-top: 24px;
        
    }

    .productDescr{
        font-weight: 500px;
        font-size: 15px;
        line-height: 25px;
        margin-top: 24px;
        color: $light-gray;
    }

    button{
        width: 160px;
        height: 48px;
        margin-top: 24px;
        background-color: $orange;
        color: $very-light-gray;
        cursor: pointer;
    }
}



//BODY

.firstSection{
    display: flex;
    width: 1110px;
    margin: auto;
    height: 284px;
    margin-top: 2rem;
    justify-content: space-between;
    align-items: center;
    

    .shopSection{
        color: $orange;
        width: 350px;
        height: 283px;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .shopImageDiv{
            position: absolute;
            left: 32.48%;
            right: 32.39%;
            top: 0%;
            bottom: 32.66%;
            z-index: 100;
            width: 160px;
        }

        .shopTextDiv{
            background-color: whitesmoke;
            position: relative;
            top:3rem;
            text-align: center;
            color: rgb(99, 61, 61);
            padding-top: 5rem;
            padding-bottom: 1rem;

            .shoptitle{
                font-weight: 700;
                text-transform: uppercase;
                margin-bottom: 10px;

                
            }

            .shopText{
                text-align: center;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            span{
                color: $orange;
                cursor: pointer;
                margin-left: 3px;
                font-weight: 700;
                font-size: 22px;
            }
        }
    }
    
}



//Second Div

.secondSection{
    background-color: $orange !important;
    display: flex;
    justify-content: center;
    align-items:center ;
    height: 560px;
    width: 1110px;
    position: relative;
    margin: auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;

    .zxspeaker{
        width: 410px;
        height: 473px;
        position: relative;
        top: 45px;
        right: 60px;
        overflow: hidden;
    }


    .secondTextDiv{
        width: 349px;
        height: 303px;

        .sdMainText{
            font-size: 56px;
            color: $light-gray;
        }

        .sdproductDescr {
            font-size: 15px;
            color: $gray;
            margin-top: 10px;
            
        }

        button{
            width: 160px;
            height: 48px;
            background-color: $black;
            color: white;
            margin-top: 20px;
            border-radius: 5px;
            text-transform: uppercase;
        }
    }
}

//Zspeaker

.zspeakermain{
    width: 1110px;
    height: 320px;
    margin: 48px auto;
}
